.cont{
    height: 390px;
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.64);
}

#orderTxt{
    color: #6A983C;
    font-family: 'Quicksand', sans-serif; 
}

#orderSubTxt {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.summary-header {
    margin-top: 100px;
}